@keyframes blink {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
.section_design {
  padding-top: 118px;
}
.section_design-wrapper {
  padding: 0px 50px;
}
.section_design-wrapper--system-title {
  padding: 10px 0px;
  margin-bottom: 59px;
}
.section_design-wrapper--system-line {
  margin-top: 30px;
  margin-bottom: 30px;
}
.section_design-wrapper--system-content_list-item {
  display: flex;
  gap: 117px;
  min-height: 390px;
}
.section_design-wrapper--system-content_list-item .title {
  font-size: 20px;
  font-feature-settings: "liga" off, "clig" off;
  line-height: 110%;
}
.section_design-wrapper--system-content_list-item .desc {
  font-size: 20px;
}
.section_design-wrapper--system-content_list-item .item-svg {
  margin-right: 50px;
}
.section_design-wrapper--system-content_list-item .item-svg svg path {
  opacity: 0;
  animation: blink 8s infinite both;
}
.section_design-wrapper--system-content_list-item .item-svg svg path:nth-child(1) {
  animation-delay: 0s;
}
.section_design-wrapper--system-content_list-item .item-svg svg path:nth-child(2) {
  animation-delay: 0.5s;
}
.section_design-wrapper--system-content_list-item .item-svg svg path:nth-child(3) {
  animation-delay: 1s;
}
.section_design-wrapper--system-content_list-item .item-svg svg path:nth-child(4) {
  animation-delay: 1.5s;
}
.section_design-wrapper--typography {
  display: flex;
  flex-direction: column;
  gap: 58px;
}
.section_design-wrapper--typography_list-item {
  display: flex;
  gap: 66px;
}
.section_design-wrapper--typography_list-item .title,
.section_design-wrapper--typography_list-item .desc {
  font-size: 20px;
}
.section_design-wrapper--typography_list-item .desc {
  line-height: 130%;
}
.section_design-wrapper--typography_cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}
.section_design-wrapper--typography_cards .card {
  background: #252525;
  border-radius: 24px;
}
.section_design-wrapper--typography_cards .card.top {
  padding: 20px;
}
.section_design-wrapper--typography_cards .card.bottom {
  display: flex;
  justify-content: space-between;
}
.section_design-wrapper--typography_cards .card.bottom .bottom-left,
.section_design-wrapper--typography_cards .card.bottom .bottom-right {
  padding: 30px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.section_design-wrapper--typography_cards .card .title-left,
.section_design-wrapper--typography_cards .card .title-right {
  font-size: 340px;
  line-height: 90%;
}
.section_design-wrapper--typography_cards .card .subtitle-left,
.section_design-wrapper--typography_cards .card .subtitle-right {
  color: #BBB;
  font-size: 64px;
  line-height: 90%;
  font-weight: 400;
  width: 65%;
}
.section_design-wrapper--typography_cards .card .title-left,
.section_design-wrapper--typography_cards .card .subtitle-left {
  font-family: "Cormorant Garamond";
}
.section_design-wrapper--typography_cards .card .title-left {
  color: #FFCE34;
  font-family: "Cormorant Garamond";
}
.section_design-wrapper--typography_cards .card .title-right {
  color: #0DB14B;
}
.section_design-wrapper--typography_cards .card .title,
.section_design-wrapper--typography_cards .card .subtitle,
.section_design-wrapper--typography_cards .card .subtitle-main,
.section_design-wrapper--typography_cards .card .desc {
  font-size: 20px;
  line-height: 110%;
}
.section_design-wrapper--typography_cards .card .subtitle-main {
  font-feature-settings: "liga" off, "clig" off;
  font-family: "Cormorant Garamond";
  font-size: 44px;
}
.section_design-wrapper--typography_cards .card .desc {
  font-feature-settings: "liga" off, "clig" off;
  font-family: Gilroy;
  font-size: 14px;
  width: 80%;
}
.section_design-wrapper--details {
  padding-top: 105px;
}
.section_design-wrapper--details_list {
  display: flex;
  flex-direction: column;
  gap: 115px;
}
.section_design-wrapper--details_list-item {
  display: flex;
}
.section_design-wrapper--details_list-item:nth-child(1) {
  gap: 130px;
}
.section_design-wrapper--details_list-item:nth-child(2) {
  gap: 111px;
}
.section_design-wrapper--details_list-item .desc {
  padding-bottom: 50px;
  font-size: 20px;
}
.section_design-wrapper--details_list-item .title {
  font-size: 20px;
}
.section_design-wrapper--details_list-item .color {
  display: flex;
  flex-direction: column;
}
.section_design-wrapper--details_list-item .color-buttons {
  display: flex;
  gap: 31px;
  justify-content: space-between;
}
.section_design-wrapper--details_list-item .color-buttons--button {
  display: flex;
  padding: 9px 20px;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  font-size: 16px;
  line-height: 110%;
  border: none;
}
.section_design-wrapper--details_list-item .color-buttons--button:nth-child(1) {
  background: #F8F8F8;
  color: #050505;
}
.section_design-wrapper--details_list-item .color-buttons--button:nth-child(2) {
  background: #CD1543;
}
.section_design-wrapper--details_list-item .color-buttons--button:nth-child(3) {
  background: #162041;
}
.section_design-wrapper--details_list-item .buttonInfo-buttons {
  display: flex;
  gap: 54px;
}
.section_design-wrapper--details_list-item .buttonInfo-buttons--left, .section_design-wrapper--details_list-item .buttonInfo-buttons--right {
  display: flex;
  gap: 29px;
}
.section_design-wrapper--details_list-item .buttonInfo-buttons--left button, .section_design-wrapper--details_list-item .buttonInfo-buttons--right button {
  display: flex;
  width: 152px;
  padding: 13px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border: none;
  font-size: 14px;
  text-transform: uppercase;
}
.section_design-wrapper--details_list-item .buttonInfo-buttons--left_redButton, .section_design-wrapper--details_list-item .buttonInfo-buttons--right_redButton {
  color: #FFF;
}
.section_design-wrapper--details_list-item .buttonInfo-buttons--left_state, .section_design-wrapper--details_list-item .buttonInfo-buttons--right_state {
  color: #414141;
  background: transparent;
}
.section_design-wrapper--details_list-item .buttonInfo-buttons--left_redButton {
  background: #CD1543;
}
.section_design-wrapper--details_list-item .buttonInfo-buttons--right_redButton {
  background: #45111A;
  box-shadow: 4px 4px 0px 0px #CD1543;
}
.section_design-wrapper--details_list-item-left {
  display: flex;
  gap: 83px;
}
.section_design-wrapper--details_list-item-right {
  display: flex;
  width: 100%;
  justify-content: center;
}
.section_design-wrapper--details_list-item-right .dropdown-box_items {
  display: inline-flex;
  padding: 4px;
  flex-direction: column;
  gap: 4px;
  background: #5A1E29;
}
.section_design-wrapper--details_list-item-right .dropdown-box_items-item {
  display: flex;
  padding: 13px 12px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  text-transform: uppercase;
  font-family: Gilroy;
  letter-spacing: 0.24px;
  font-size: 12px;
  font-weight: 500;
}
.section_design-wrapper--details_list-item-right .dropdown-box_items-item:nth-child(2) {
  background: #CD1543;
}

/*# sourceMappingURL=design.module.css.map */
