@keyframes blink {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
.section_design {
  padding-top: 118px;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .section_design {
    padding-top: 50px;
  }
}
@media screen and (max-width: 480px) {
  .section_design {
    padding-top: 20px;
  }
}
.section_design-wrapper {
  padding: 0px 50px;
}
@media screen and (max-width: 768px) {
  .section_design-wrapper {
    padding: 0px 20px;
  }
}
.section_design-wrapper--system-title {
  height: 142px;
}
.section_design-wrapper--system-title .section-title .title {
  margin: 10px 0px;
}
@media screen and (max-width: 1024px) {
  .section_design-wrapper--system-title {
    height: 80px;
  }
}
@media screen and (max-width: 768px) {
  .section_design-wrapper--system-title {
    height: 60px;
  }
}
@media screen and (max-width: 480px) {
  .section_design-wrapper--system-title {
    height: 30px;
  }
}
.section_design-wrapper--system-line {
  margin: 30px 0px;
}
@media screen and (max-width: 768px) {
  .section_design-wrapper--system-line {
    margin: 15px 0px;
  }
}
.section_design-wrapper--system-line svg {
  width: 100%;
}
.section_design-wrapper--system-content_list-item {
  display: flex;
  gap: 117px;
  min-height: 390px;
  height: 100%;
  font-size: 20px;
}
@media screen and (max-width: 1024px) {
  .section_design-wrapper--system-content_list-item {
    padding-bottom: 30px;
    font-size: 16px;
    min-height: 0;
  }
}
@media screen and (max-width: 768px) {
  .section_design-wrapper--system-content_list-item {
    font-size: 15px;
    gap: 105px;
  }
}
@media screen and (max-width: 480px) {
  .section_design-wrapper--system-content_list-item {
    flex-direction: column;
    gap: 25px;
    font-size: 15px;
    min-height: 200px;
  }
}
.section_design-wrapper--system-content_list-item .title {
  font-feature-settings: "liga" off, "clig" off;
  line-height: 110%;
}
.section_design-wrapper--system-content_list-item .item-svg {
  margin-right: 50px;
}
@media screen and (max-width: 1024px) {
  .section_design-wrapper--system-content_list-item .item-svg {
    display: none;
  }
}
.section_design-wrapper--system-content_list-item .item-svg svg path {
  opacity: 0;
  animation: blink 8s infinite both;
}
.section_design-wrapper--system-content_list-item .item-svg svg path:nth-child(1) {
  animation-delay: 0s;
}
.section_design-wrapper--system-content_list-item .item-svg svg path:nth-child(2) {
  animation-delay: 0.5s;
}
.section_design-wrapper--system-content_list-item .item-svg svg path:nth-child(3) {
  animation-delay: 1s;
}
.section_design-wrapper--system-content_list-item .item-svg svg path:nth-child(4) {
  animation-delay: 1.5s;
}
.section_design-wrapper--typography {
  display: flex;
  flex-direction: column;
  gap: 58px;
}
.section_design-wrapper--typography_list-item {
  display: flex;
  gap: 66px;
  font-size: 20px;
}
@media screen and (max-width: 768px) {
  .section_design-wrapper--typography_list-item {
    font-size: 17px;
  }
}
@media screen and (max-width: 480px) {
  .section_design-wrapper--typography_list-item {
    flex-direction: column;
    gap: 25px;
  }
}
.section_design-wrapper--typography_cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}
@media screen and (max-width: 1024px) {
  .section_design-wrapper--typography_cards {
    grid-template-columns: auto;
  }
}
.section_design-wrapper--typography_cards .card {
  background: #252525;
  border-radius: 24px;
}
.section_design-wrapper--typography_cards .card.top {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.section_design-wrapper--typography_cards .card.bottom {
  display: flex;
  justify-content: space-between;
}
.section_design-wrapper--typography_cards .card.bottom .bottom-left,
.section_design-wrapper--typography_cards .card.bottom .bottom-right {
  padding: 30px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (max-width: 480px) {
  .section_design-wrapper--typography_cards .card.bottom .bottom-left,
  .section_design-wrapper--typography_cards .card.bottom .bottom-right {
    padding: 10px;
  }
}
@media screen and (max-width: 1024px) {
  .section_design-wrapper--typography_cards .card .title-left svg,
  .section_design-wrapper--typography_cards .card .title-right svg {
    width: 220px;
    height: 150px;
  }
}
@media screen and (max-width: 768px) {
  .section_design-wrapper--typography_cards .card .title-left svg,
  .section_design-wrapper--typography_cards .card .title-right svg {
    width: 200px;
    height: 150px;
  }
}
@media screen and (max-width: 480px) {
  .section_design-wrapper--typography_cards .card .title-left svg,
  .section_design-wrapper--typography_cards .card .title-right svg {
    width: 140px;
    height: 80px;
  }
}
@media screen and (max-width: 768px) {
  .section_design-wrapper--typography_cards .card .subtitle-left svg,
  .section_design-wrapper--typography_cards .card .subtitle-right svg {
    width: 170px;
    height: 100px;
  }
}
@media screen and (max-width: 768px) {
  .section_design-wrapper--typography_cards .card .subtitle-left svg,
  .section_design-wrapper--typography_cards .card .subtitle-right svg {
    width: 150px;
    height: 100px;
  }
}
@media screen and (max-width: 480px) {
  .section_design-wrapper--typography_cards .card .subtitle-left svg,
  .section_design-wrapper--typography_cards .card .subtitle-right svg {
    width: 110px;
    height: 60px;
  }
}
.section_design-wrapper--typography_cards .card .title-left,
.section_design-wrapper--typography_cards .card .subtitle-left {
  font-family: "Cormorant Garamond";
}
.section_design-wrapper--typography_cards .card .title-left {
  color: #FFCE34;
  font-family: "Cormorant Garamond";
}
.section_design-wrapper--typography_cards .card .title-right {
  color: #0DB14B;
}
.section_design-wrapper--typography_cards .card .title,
.section_design-wrapper--typography_cards .card .subtitle,
.section_design-wrapper--typography_cards .card .subtitle-main,
.section_design-wrapper--typography_cards .card .desc {
  font-size: 20px;
  line-height: 110%;
}
@media screen and (max-width: 1028px) {
  .section_design-wrapper--typography_cards .card .title,
  .section_design-wrapper--typography_cards .card .subtitle,
  .section_design-wrapper--typography_cards .card .subtitle-main,
  .section_design-wrapper--typography_cards .card .desc {
    font-size: 18px;
  }
}
@media screen and (max-width: 726px) {
  .section_design-wrapper--typography_cards .card .title,
  .section_design-wrapper--typography_cards .card .subtitle,
  .section_design-wrapper--typography_cards .card .subtitle-main,
  .section_design-wrapper--typography_cards .card .desc {
    font-size: 15px;
  }
}
@media screen and (max-width: 480px) {
  .section_design-wrapper--typography_cards .card .title,
  .section_design-wrapper--typography_cards .card .subtitle,
  .section_design-wrapper--typography_cards .card .subtitle-main,
  .section_design-wrapper--typography_cards .card .desc {
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  .section_design-wrapper--typography_cards .card .subtitle-main svg {
    width: 150px;
    height: 100px;
  }
}
@media screen and (max-width: 480px) {
  .section_design-wrapper--typography_cards .card .subtitle-main svg {
    width: 110px;
    height: 60px;
  }
}
.section_design-wrapper--typography_cards .card .desc {
  font-feature-settings: "liga" off, "clig" off;
  font-family: Gilroy;
  font-size: 14px;
  width: 80%;
}
.section_design-wrapper--details {
  padding-top: 105px;
}
@media screen and (max-width: 480px) {
  .section_design-wrapper--details {
    padding-top: 50px;
  }
}
.section_design-wrapper--details_list {
  display: flex;
  flex-direction: column;
  gap: 115px;
}
@media screen and (max-width: 480px) {
  .section_design-wrapper--details_list {
    gap: 50px;
  }
}
.section_design-wrapper--details_list-item {
  display: flex;
}
@media screen and (max-width: 1024px) {
  .section_design-wrapper--details_list-item {
    flex-direction: column;
  }
}
.section_design-wrapper--details_list-item:nth-child(1) {
  gap: 130px;
}
@media screen and (max-width: 1024px) {
  .section_design-wrapper--details_list-item:nth-child(1) {
    flex-direction: column;
    gap: 50px;
  }
}
@media screen and (max-width: 480px) {
  .section_design-wrapper--details_list-item:nth-child(1) {
    gap: 25px;
  }
}
.section_design-wrapper--details_list-item:nth-child(2) {
  gap: 111px;
}
@media screen and (max-width: 480px) {
  .section_design-wrapper--details_list-item:nth-child(2) {
    gap: 30px;
  }
}
.section_design-wrapper--details_list-item .desc {
  padding-bottom: 50px;
  font-size: 20px;
}
@media screen and (max-width: 1024px) {
  .section_design-wrapper--details_list-item .desc {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  .section_design-wrapper--details_list-item .desc {
    font-size: 15px;
  }
}
@media screen and (max-width: 480px) {
  .section_design-wrapper--details_list-item .desc {
    padding-bottom: 20px;
  }
}
.section_design-wrapper--details_list-item .title {
  font-size: 20px;
}
.section_design-wrapper--details_list-item .color {
  display: flex;
  flex-direction: column;
}
.section_design-wrapper--details_list-item .color-buttons {
  display: flex;
  gap: 31px;
  justify-content: space-between;
}
@media screen and (max-width: 480px) {
  .section_design-wrapper--details_list-item .color-buttons {
    flex-direction: column;
    gap: 15px;
  }
}
.section_design-wrapper--details_list-item .color-buttons--button {
  display: flex;
  padding: 9px 20px;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  font-size: 16px;
  line-height: 110%;
  border: none;
}
@media screen and (max-width: 480px) {
  .section_design-wrapper--details_list-item .color-buttons--button {
    font-size: 14px;
  }
}
.section_design-wrapper--details_list-item .color-buttons--button:nth-child(1) {
  background: #F8F8F8;
  color: #050505;
}
.section_design-wrapper--details_list-item .color-buttons--button:nth-child(2) {
  background: #CD1543;
}
.section_design-wrapper--details_list-item .color-buttons--button:nth-child(3) {
  background: #162041;
}
.section_design-wrapper--details_list-item .buttonInfo-buttons {
  display: flex;
  gap: 54px;
}
@media screen and (max-width: 1024px) {
  .section_design-wrapper--details_list-item .buttonInfo-buttons {
    flex-direction: column;
  }
}
@media screen and (max-width: 480px) {
  .section_design-wrapper--details_list-item .buttonInfo-buttons {
    gap: 20px;
  }
}
.section_design-wrapper--details_list-item .buttonInfo-buttons--left, .section_design-wrapper--details_list-item .buttonInfo-buttons--right {
  display: flex;
  gap: 29px;
}
.section_design-wrapper--details_list-item .buttonInfo-buttons--left p, .section_design-wrapper--details_list-item .buttonInfo-buttons--right p {
  display: flex;
  width: 152px;
  padding: 13px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border: none;
  font-size: 14px;
  text-transform: uppercase;
}
@media screen and (max-width: 480px) {
  .section_design-wrapper--details_list-item .buttonInfo-buttons--left p, .section_design-wrapper--details_list-item .buttonInfo-buttons--right p {
    font-size: 13px;
    width: 130px;
  }
}
.section_design-wrapper--details_list-item .buttonInfo-buttons--left_redButton, .section_design-wrapper--details_list-item .buttonInfo-buttons--right_redButton {
  color: #FFF;
}
.section_design-wrapper--details_list-item .buttonInfo-buttons--left_state, .section_design-wrapper--details_list-item .buttonInfo-buttons--right_state {
  color: #414141;
  background: transparent;
}
@media screen and (max-width: 480px) {
  .section_design-wrapper--details_list-item .buttonInfo-buttons--left svg, .section_design-wrapper--details_list-item .buttonInfo-buttons--right svg {
    width: 130px;
    height: 40px;
  }
}
.section_design-wrapper--details_list-item .buttonInfo-buttons--left_redButton {
  background: #CD1543;
}
.section_design-wrapper--details_list-item .buttonInfo-buttons--right_redButton {
  background: #45111A;
  box-shadow: 4px 4px 0px 0px #CD1543;
}
.section_design-wrapper--details_list-item-left {
  display: flex;
  gap: 83px;
}
@media screen and (max-width: 480px) {
  .section_design-wrapper--details_list-item-left {
    flex-direction: column;
    gap: 30px;
  }
}
.section_design-wrapper--details_list-item-right {
  display: flex;
  width: 100%;
  justify-content: center;
}
.section_design-wrapper--details_list-item-right svg {
  width: 190px;
  height: 250px;
}

/*# sourceMappingURL=design.module.css.map */
