.section_mobile {
  padding-top: 107px;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .section_mobile {
    padding-top: 50px;
  }
}
@media screen and (max-width: 480px) {
  .section_mobile {
    padding-top: 20px;
  }
}
.section_mobile-wrapper {
  position: relative;
  padding: 0px 50px;
}
@media screen and (max-width: 768px) {
  .section_mobile-wrapper {
    padding: 0px 20px;
  }
}
.section_mobile-wrapper--title {
  height: 142px;
}
.section_mobile-wrapper--title .title {
  margin: 10px 0px;
  font-size: 48px;
  line-height: 110%;
}
@media screen and (max-width: 1024px) {
  .section_mobile-wrapper--title {
    height: 80px;
  }
}
@media screen and (max-width: 768px) {
  .section_mobile-wrapper--title {
    height: 60px;
  }
}
@media screen and (max-width: 480px) {
  .section_mobile-wrapper--title {
    height: 30px;
  }
}
.section_mobile-wrapper--line {
  padding: 30px 50px;
}
@media screen and (max-width: 768px) {
  .section_mobile-wrapper--line {
    padding: 15px 50px;
  }
}
.section_mobile-wrapper--line svg {
  width: 100%;
}
.section_mobile-wrapper--content {
  display: flex;
  gap: 123px;
  padding: 0px 50px;
  height: 1450px;
  transform: translateY(90px);
}
@media screen and (max-width: 480px) {
  .section_mobile-wrapper--content {
    flex-direction: column;
    gap: 25px;
  }
}
.section_mobile-wrapper--content-title {
  width: 10%;
}
@media screen and (max-width: 1024px) {
  .section_mobile-wrapper--content-title {
    width: 20%;
  }
}
.section_mobile-wrapper--content-title .title {
  font-size: 20px;
}
@media screen and (max-width: 1024px) {
  .section_mobile-wrapper--content-title .title {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  .section_mobile-wrapper--content-title .title {
    font-size: 15px;
  }
}
@media screen and (max-width: 1024px) {
  .section_mobile-wrapper--content {
    height: auto;
    transform: none;
  }
}
.section_mobile-wrapper--content-svg {
  position: absolute;
  top: 5%;
  right: 0;
  height: 100%;
}
@media screen and (max-width: 1024px) {
  .section_mobile-wrapper--content-svg {
    display: none;
  }
}
.section_mobile-wrapper--content-svg img {
  height: 100%;
}
.section_mobile-wrapper--content-text {
  width: 52%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 1024px) {
  .section_mobile-wrapper--content-text {
    width: 100%;
    gap: 50px;
  }
}
.section_mobile-wrapper--content-text .subtitle {
  font-size: 20px;
  line-height: 130%;
}
@media screen and (max-width: 1024px) {
  .section_mobile-wrapper--content-text .subtitle {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  .section_mobile-wrapper--content-text .subtitle {
    font-size: 15px;
  }
}
@media screen and (max-width: 480px) {
  .section_mobile-wrapper--content-text .subtitle {
    font-size: 14px;
  }
}
.section_mobile-wrapper--content-text_bottom {
  width: 55%;
  margin: auto 0;
}
@media screen and (max-width: 1024px) {
  .section_mobile-wrapper--content-text_bottom {
    width: 100%;
  }
}

/*# sourceMappingURL=mobile.module.css.map */
