.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: auto;
  min-height: 0;
  z-index: 19;
  background-color: rgba(5, 5, 5, 0.6117647059);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  transition: 0.2s linear ease-in;
  display: none;
}
.header .container {
  max-width: calc(1440px - 2%);
}
.header-wrapper {
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-wrapper_logo {
  height: 40px;
  width: auto;
}
.header-wrapper_nav {
  display: flex;
  gap: 40px;
}
.header-wrapper_nav-list {
  display: flex;
  gap: 30px;
  align-items: center;
}
.header-wrapper_nav-list--item a {
  font-size: 14px;
}
.header-wrapper_btn--button {
  width: 160px;
  text-align: center;
  height: auto;
  padding: 10px 24px;
  background: #ffce34;
  border-radius: 38px;
  transition: 0.2s linear;
}
.header-wrapper_btn--button p {
  font-size: 14px;
  color: #000;
  text-transform: uppercase;
}

@keyframes blink {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
.homepage {
  padding-top: 112px;
  width: 100%;
}
.homepage .section_hero-wrapper--content {
  text-align: center;
  width: 65%;
  margin: 0 auto;
  margin-bottom: 24px;
}
.homepage .section_hero-wrapper--content_headline {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}
.homepage .section_hero-wrapper--content_headline a {
  display: flex;
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 38px;
  background: #0DB14B;
  white-space: nowrap;
  text-transform: uppercase;
}
.homepage .section_hero-wrapper--content_headline a p {
  font-size: 14px;
}
.homepage .section_hero-wrapper--content .title {
  font-size: 72px;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .homepage .section_hero-wrapper--content .title {
    font-size: 60px;
  }
}
@media screen and (max-width: 480px) {
  .homepage .section_hero-wrapper--content .title {
    font-size: 50px;
  }
}
.homepage .section_hero-wrapper--content .subtitle {
  font-size: 20px;
}
@media screen and (max-width: 768px) {
  .homepage .section_hero-wrapper--content .subtitle {
    font-size: 18px;
  }
}
@media screen and (max-width: 768px) {
  .homepage .section_hero-wrapper--content .subtitle {
    font-size: 16px;
  }
}
.homepage .section_hero-wrapper--image {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 50px;
  margin-bottom: 10px;
}
.homepage .section_hero-wrapper--image img {
  width: 100%;
}
.homepage .section_hero-wrapper--image_svg1, .homepage .section_hero-wrapper--image_svg2 {
  position: absolute;
}
@media screen and (max-width: 768px) {
  .homepage .section_hero-wrapper--image_svg1, .homepage .section_hero-wrapper--image_svg2 {
    display: none;
  }
}
.homepage .section_hero-wrapper--image_svg1 {
  top: 10%;
  right: 10%;
}
.homepage .section_hero-wrapper--image_svg2 {
  bottom: 5%;
  left: 20%;
}
.homepage .section_hero-wrapper--image svg path {
  opacity: 0;
  -webkit-animation: blink 8s infinite both;
  animation: blink 8s infinite both;
}
.homepage .section_hero-wrapper--image_svg1 path:nth-child(1) {
  animation-delay: 0s;
}
.homepage .section_hero-wrapper--image_svg1 path:nth-child(2) {
  animation-delay: 0.5s;
}
.homepage .section_hero-wrapper--image_svg1 path:nth-child(3) {
  animation-delay: 1s;
}
.homepage .section_hero-wrapper--image_svg1 path:nth-child(4) {
  animation-delay: 1.5s;
}
.homepage .section_hero-wrapper--image_svg2 path:nth-child(1) {
  animation-delay: 0s;
}
.homepage .section_hero-wrapper--image_svg2 path:nth-child(2) {
  animation-delay: 0.5s;
}
.homepage .section_hero-wrapper--client {
  display: flex;
  border-radius: 24px;
  background: #252525;
  padding: 40px 33px;
}
@media screen and (max-width: 768px) {
  .homepage .section_hero-wrapper--client {
    flex-direction: column;
    gap: 50px;
  }
}
@media screen and (max-width: 768px) {
  .homepage .section_hero-wrapper--client-about {
    align-items: center;
    display: flex;
  }
}
@media screen and (max-width: 480px) {
  .homepage .section_hero-wrapper--client-about {
    flex-direction: column;
    align-items: start;
  }
}
.homepage .section_hero-wrapper--client-about .title {
  color: #0db14b;
  font-size: 32px;
  text-transform: uppercase;
  margin-bottom: 28px;
}
.homepage .section_hero-wrapper--client-about .subtitle {
  font-size: 16px;
  line-height: 20.8px;
  width: 65%;
}
@media screen and (max-width: 480px) {
  .homepage .section_hero-wrapper--client-about .subtitle {
    width: 100%;
  }
}
.homepage .section_hero-wrapper--client-statics {
  display: flex;
  gap: 78px;
}
@media screen and (max-width: 768px) {
  .homepage .section_hero-wrapper--client-statics {
    justify-content: space-around;
  }
}
@media screen and (max-width: 480px) {
  .homepage .section_hero-wrapper--client-statics {
    flex-direction: column;
    gap: 40px;
  }
}
.homepage .section_hero-wrapper--client-statics_left, .homepage .section_hero-wrapper--client-statics_right {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
@media screen and (max-width: 480px) {
  .homepage .section_hero-wrapper--client-statics_left, .homepage .section_hero-wrapper--client-statics_right {
    gap: 10px;
  }
}
.homepage .section_hero-wrapper--client-statics_left .title, .homepage .section_hero-wrapper--client-statics_right .title {
  color: #ffce34;
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings: "liga" off, "clig" off;
  font-size: 64px;
  line-height: 50px;
}
@media screen and (max-width: 480px) {
  .homepage .section_hero-wrapper--client-statics_left .title, .homepage .section_hero-wrapper--client-statics_right .title {
    font-size: 50px;
  }
}
.homepage .section_hero-wrapper--client-statics_left .subtitle, .homepage .section_hero-wrapper--client-statics_right .subtitle {
  font-feature-settings: "liga" off, "clig" off;
  font-size: 14px;
  line-height: 150%;
}
.homepage .section_hero-wrapper--client-statics_left {
  align-items: flex-end;
}
@media screen and (max-width: 480px) {
  .homepage .section_hero-wrapper--client-statics_left {
    align-items: start;
  }
}
.homepage .section_hero-wrapper--client-statics_left .subtitle {
  width: 80%;
}
.homepage .section_hero-wrapper--client-statics_right {
  max-width: 148px;
  width: 100%;
}
@media screen and (max-width: 480px) {
  .homepage .section_hero-wrapper--client-statics_right {
    max-width: none;
  }
}
.homepage .section_hero-wrapper--client-statics_right .subtitle {
  text-align: center;
}
@media screen and (max-width: 480px) {
  .homepage .section_hero-wrapper--client-statics_right .subtitle {
    text-align: start;
  }
}

.section_lorem {
  padding-top: 90px;
  max-width: 1440px;
  margin: 0 auto;
}
@media screen and (max-width: 480px) {
  .section_lorem {
    padding-top: 50px;
  }
}
.section_lorem-wrapper {
  padding: 0px 50px;
}
@media screen and (max-width: 768px) {
  .section_lorem-wrapper {
    padding: 0px 20px;
  }
}
.section_lorem-wrapper--title {
  padding: 10px 0px;
  margin-bottom: 59px;
}
@media screen and (max-width: 480px) {
  .section_lorem-wrapper--title {
    margin-bottom: 0px;
  }
}
.section_lorem-wrapper--title_text {
  width: 416px;
}
@media screen and (max-width: 480px) {
  .section_lorem-wrapper--title_text {
    width: 100%;
  }
}
.section_lorem-wrapper--line {
  margin: 39px 0;
}
@media screen and (max-width: 480px) {
  .section_lorem-wrapper--line {
    margin: 15px 0px;
  }
}
.section_lorem-wrapper--line svg {
  width: 100%;
}
.section_lorem-wrapper--content .text-card {
  display: flex;
  gap: 84px;
  font-size: 20px;
  padding-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .section_lorem-wrapper--content .text-card {
    font-size: 18px;
  }
}
@media screen and (max-width: 480px) {
  .section_lorem-wrapper--content .text-card {
    gap: 25px;
    flex-direction: column;
  }
}
.section_lorem-wrapper--content .text-card--desc {
  font-feature-settings: "liga" off, "clig" off;
  line-height: 130%;
}
@media screen and (max-width: 480px) {
  .section_lorem-wrapper--content .text-card--desc {
    font-size: 15px;
  }
}
.section_lorem-wrapper--content .text-card--desc span {
  color: #FFCE34;
}
.section_lorem-wrapper--content .section_lorem-wrapper--content_list-item:first-child .text-card {
  gap: 135px;
}
@media screen and (max-width: 480px) {
  .section_lorem-wrapper--content .section_lorem-wrapper--content_list-item:first-child .text-card {
    gap: 25px;
  }
}
@media screen and (max-width: 480px) {
  .section_lorem-wrapper--content .section_lorem-wrapper--content_list-item:first-child .text-card--desc {
    font-size: 15px;
  }
}

.section_challenges {
  padding-top: 127px;
}
@media screen and (max-width: 768px) {
  .section_challenges {
    padding-top: 50px;
  }
}
@media screen and (max-width: 480px) {
  .section_challenges {
    padding-top: 20px;
  }
}
.section_challenges-wrapper-images {
  display: flex;
  gap: 16px;
  margin-bottom: 10px;
}
@media screen and (max-width: 1024px) {
  .section_challenges-wrapper-images {
    flex-direction: column;
  }
}
.section_challenges-wrapper-images_content {
  background: #252525;
  border-radius: 24px;
  width: 100%;
  height: 756px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .section_challenges-wrapper-images_content {
    height: 650px;
  }
}
@media screen and (max-width: 480px) {
  .section_challenges-wrapper-images_content {
    height: 500px;
  }
}
.section_challenges-wrapper-images_content-imageL {
  position: absolute;
  bottom: -1%;
}
.section_challenges-wrapper-images_content-text {
  position: absolute;
  bottom: 5%;
  left: 10%;
  width: 80%;
}
.section_challenges-wrapper-images_content-text .title {
  font-size: 30px;
  font-feature-settings: "liga" off, "clig" off;
  line-height: 120%;
}
@media screen and (max-width: 768px) {
  .section_challenges-wrapper-images_content-text .title {
    font-size: 20px;
  }
}
@media screen and (max-width: 480px) {
  .section_challenges-wrapper-images_content-text .title {
    font-size: 18px;
    text-align: center;
  }
}
.section_challenges-wrapper-images_content img {
  width: 100%;
  height: auto;
}
.section_challenges-wrapper-cards {
  display: flex;
  align-items: center;
  gap: 16px;
}
@media screen and (max-width: 1024px) {
  .section_challenges-wrapper-cards {
    flex-direction: column;
  }
}
.section_challenges-wrapper-cards_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 216px;
  height: 100%;
  border-radius: 24px;
  background: #252525;
}
@media screen and (max-width: 1024px) {
  .section_challenges-wrapper-cards_card {
    gap: 20px;
  }
}
.section_challenges-wrapper-cards_card .subtitle {
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .section_challenges-wrapper-cards_card .subtitle {
    width: 50%;
  }
}
@media screen and (max-width: 480px) {
  .section_challenges-wrapper-cards_card .subtitle {
    width: 100%;
    font-size: 14px;
  }
}
.section_challenges-wrapper-cards_card:nth-of-type(1) {
  gap: 18px;
  padding: 48px 33px;
}
.section_challenges-wrapper-cards_card:nth-of-type(1) .title {
  color: #0DB14B;
  font-size: 32px;
  line-height: 110%;
  text-transform: uppercase;
}
@media screen and (max-width: 480px) {
  .section_challenges-wrapper-cards_card:nth-of-type(1) .title {
    font-size: 20px;
  }
}
.section_challenges-wrapper-cards_card:nth-of-type(1) .subtitle {
  text-align: start;
  width: 95%;
}
@media screen and (max-width: 1024px) {
  .section_challenges-wrapper-cards_card:nth-of-type(1) .subtitle {
    text-align: center;
  }
}

.two {
  padding-top: 0px;
}
@media screen and (max-width: 1024px) {
  .two {
    padding-top: 100px;
  }
}

@keyframes blink {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
.section_design {
  padding-top: 118px;
  max-width: 1440px;
  margin: 0 auto;
}
@media screen and (max-width: 480px) {
  .section_design {
    padding-top: 50px;
  }
}
.section_design-wrapper {
  padding: 0px 50px;
}
@media screen and (max-width: 480px) {
  .section_design-wrapper {
    padding: 0px 20px;
  }
}
.section_design-wrapper--system-title {
  padding: 10px 0px;
  margin-bottom: 59px;
}
@media screen and (max-width: 480px) {
  .section_design-wrapper--system-title {
    margin-bottom: 0px;
  }
}
.section_design-wrapper--system-line {
  margin: 30px 0px;
}
.section_design-wrapper--system-line svg {
  width: 100%;
}
.section_design-wrapper--system-content_list-item {
  display: flex;
  gap: 117px;
  min-height: 390px;
  height: 100%;
  font-size: 20px;
}
@media screen and (max-width: 768px) {
  .section_design-wrapper--system-content_list-item {
    padding-bottom: 30px;
    font-size: 17px;
  }
}
@media screen and (max-width: 480px) {
  .section_design-wrapper--system-content_list-item {
    flex-direction: column;
    gap: 25px;
    font-size: 15px;
    min-height: 200px;
  }
}
.section_design-wrapper--system-content_list-item .title {
  font-feature-settings: "liga" off, "clig" off;
  line-height: 110%;
}
.section_design-wrapper--system-content_list-item .item-svg {
  margin-right: 50px;
}
@media screen and (max-width: 1024px) {
  .section_design-wrapper--system-content_list-item .item-svg {
    display: none;
  }
}
.section_design-wrapper--system-content_list-item .item-svg svg path {
  opacity: 0;
  animation: blink 8s infinite both;
}
.section_design-wrapper--system-content_list-item .item-svg svg path:nth-child(1) {
  animation-delay: 0s;
}
.section_design-wrapper--system-content_list-item .item-svg svg path:nth-child(2) {
  animation-delay: 0.5s;
}
.section_design-wrapper--system-content_list-item .item-svg svg path:nth-child(3) {
  animation-delay: 1s;
}
.section_design-wrapper--system-content_list-item .item-svg svg path:nth-child(4) {
  animation-delay: 1.5s;
}
.section_design-wrapper--typography {
  display: flex;
  flex-direction: column;
  gap: 58px;
}
.section_design-wrapper--typography_list-item {
  display: flex;
  gap: 66px;
  font-size: 20px;
}
@media screen and (max-width: 768px) {
  .section_design-wrapper--typography_list-item {
    font-size: 17px;
  }
}
@media screen and (max-width: 480px) {
  .section_design-wrapper--typography_list-item {
    flex-direction: column;
    gap: 25px;
  }
}
.section_design-wrapper--typography_cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}
@media screen and (max-width: 1024px) {
  .section_design-wrapper--typography_cards {
    grid-template-columns: auto;
  }
}
.section_design-wrapper--typography_cards .card {
  background: #252525;
  border-radius: 24px;
}
.section_design-wrapper--typography_cards .card.top {
  padding: 20px;
}
.section_design-wrapper--typography_cards .card.bottom {
  display: flex;
  justify-content: space-between;
}
.section_design-wrapper--typography_cards .card.bottom .bottom-left,
.section_design-wrapper--typography_cards .card.bottom .bottom-right {
  padding: 30px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (max-width: 480px) {
  .section_design-wrapper--typography_cards .card.bottom .bottom-left,
  .section_design-wrapper--typography_cards .card.bottom .bottom-right {
    padding: 10px;
  }
}
.section_design-wrapper--typography_cards .card .title-left,
.section_design-wrapper--typography_cards .card .title-right {
  font-size: 340px;
  line-height: 90%;
}
@media screen and (max-width: 768px) {
  .section_design-wrapper--typography_cards .card .title-left,
  .section_design-wrapper--typography_cards .card .title-right {
    font-size: 200px;
  }
}
@media screen and (max-width: 480px) {
  .section_design-wrapper--typography_cards .card .title-left,
  .section_design-wrapper--typography_cards .card .title-right {
    font-size: 130px;
  }
}
.section_design-wrapper--typography_cards .card .subtitle-left,
.section_design-wrapper--typography_cards .card .subtitle-right {
  color: #BBB;
  font-size: 64px;
  line-height: 90%;
  font-weight: 400;
  width: 65%;
}
@media screen and (max-width: 768px) {
  .section_design-wrapper--typography_cards .card .subtitle-left,
  .section_design-wrapper--typography_cards .card .subtitle-right {
    font-size: 40px;
  }
}
@media screen and (max-width: 480px) {
  .section_design-wrapper--typography_cards .card .subtitle-left,
  .section_design-wrapper--typography_cards .card .subtitle-right {
    font-size: 30px;
  }
}
.section_design-wrapper--typography_cards .card .title-left,
.section_design-wrapper--typography_cards .card .subtitle-left {
  font-family: "Cormorant Garamond";
}
.section_design-wrapper--typography_cards .card .title-left {
  color: #FFCE34;
  font-family: "Cormorant Garamond";
}
.section_design-wrapper--typography_cards .card .title-right {
  color: #0DB14B;
}
.section_design-wrapper--typography_cards .card .title,
.section_design-wrapper--typography_cards .card .subtitle,
.section_design-wrapper--typography_cards .card .subtitle-main,
.section_design-wrapper--typography_cards .card .desc {
  font-size: 20px;
  line-height: 110%;
}
@media screen and (max-width: 768px) {
  .section_design-wrapper--typography_cards .card .title,
  .section_design-wrapper--typography_cards .card .subtitle,
  .section_design-wrapper--typography_cards .card .subtitle-main,
  .section_design-wrapper--typography_cards .card .desc {
    font-size: 18px;
  }
}
@media screen and (max-width: 768px) {
  .section_design-wrapper--typography_cards .card .title,
  .section_design-wrapper--typography_cards .card .subtitle,
  .section_design-wrapper--typography_cards .card .subtitle-main,
  .section_design-wrapper--typography_cards .card .desc {
    font-size: 15px;
  }
}
.section_design-wrapper--typography_cards .card .subtitle-main {
  font-feature-settings: "liga" off, "clig" off;
  font-family: "Cormorant Garamond";
  font-size: 44px;
}
@media screen and (max-width: 768px) {
  .section_design-wrapper--typography_cards .card .subtitle-main {
    font-size: 34px;
  }
}
@media screen and (max-width: 480px) {
  .section_design-wrapper--typography_cards .card .subtitle-main {
    font-size: 30px;
  }
}
.section_design-wrapper--typography_cards .card .desc {
  font-feature-settings: "liga" off, "clig" off;
  font-family: Gilroy;
  font-size: 14px;
  width: 80%;
}
.section_design-wrapper--details {
  padding-top: 105px;
}
@media screen and (max-width: 480px) {
  .section_design-wrapper--details {
    padding-top: 50px;
  }
}
.section_design-wrapper--details_list {
  display: flex;
  flex-direction: column;
  gap: 115px;
}
@media screen and (max-width: 480px) {
  .section_design-wrapper--details_list {
    gap: 50px;
  }
}
.section_design-wrapper--details_list-item {
  display: flex;
}
@media screen and (max-width: 1024px) {
  .section_design-wrapper--details_list-item {
    flex-direction: column;
  }
}
.section_design-wrapper--details_list-item:nth-child(1) {
  gap: 130px;
}
@media screen and (max-width: 1024px) {
  .section_design-wrapper--details_list-item:nth-child(1) {
    flex-direction: column;
    gap: 50px;
  }
}
@media screen and (max-width: 480px) {
  .section_design-wrapper--details_list-item:nth-child(1) {
    gap: 25px;
  }
}
.section_design-wrapper--details_list-item:nth-child(2) {
  gap: 111px;
}
@media screen and (max-width: 480px) {
  .section_design-wrapper--details_list-item:nth-child(2) {
    gap: 30px;
  }
}
.section_design-wrapper--details_list-item .desc {
  padding-bottom: 50px;
  font-size: 20px;
}
@media screen and (max-width: 480px) {
  .section_design-wrapper--details_list-item .desc {
    padding-bottom: 20px;
  }
}
.section_design-wrapper--details_list-item .title {
  font-size: 20px;
}
.section_design-wrapper--details_list-item .color {
  display: flex;
  flex-direction: column;
}
.section_design-wrapper--details_list-item .color-buttons {
  display: flex;
  gap: 31px;
  justify-content: space-between;
}
@media screen and (max-width: 480px) {
  .section_design-wrapper--details_list-item .color-buttons {
    flex-direction: column;
    gap: 15px;
  }
}
.section_design-wrapper--details_list-item .color-buttons--button {
  display: flex;
  padding: 9px 20px;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  font-size: 16px;
  line-height: 110%;
  border: none;
}
.section_design-wrapper--details_list-item .color-buttons--button:nth-child(1) {
  background: #F8F8F8;
  color: #050505;
}
.section_design-wrapper--details_list-item .color-buttons--button:nth-child(2) {
  background: #CD1543;
}
.section_design-wrapper--details_list-item .color-buttons--button:nth-child(3) {
  background: #162041;
}
.section_design-wrapper--details_list-item .buttonInfo-buttons {
  display: flex;
  gap: 54px;
}
@media screen and (max-width: 1024px) {
  .section_design-wrapper--details_list-item .buttonInfo-buttons {
    flex-direction: column;
  }
}
@media screen and (max-width: 480px) {
  .section_design-wrapper--details_list-item .buttonInfo-buttons {
    gap: 20px;
  }
}
.section_design-wrapper--details_list-item .buttonInfo-buttons--left, .section_design-wrapper--details_list-item .buttonInfo-buttons--right {
  display: flex;
  gap: 29px;
}
.section_design-wrapper--details_list-item .buttonInfo-buttons--left button, .section_design-wrapper--details_list-item .buttonInfo-buttons--right button {
  display: flex;
  width: 152px;
  padding: 13px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border: none;
  font-size: 14px;
  text-transform: uppercase;
}
.section_design-wrapper--details_list-item .buttonInfo-buttons--left_redButton, .section_design-wrapper--details_list-item .buttonInfo-buttons--right_redButton {
  color: #FFF;
}
.section_design-wrapper--details_list-item .buttonInfo-buttons--left_state, .section_design-wrapper--details_list-item .buttonInfo-buttons--right_state {
  color: #414141;
  background: transparent;
}
.section_design-wrapper--details_list-item .buttonInfo-buttons--left_redButton {
  background: #CD1543;
}
.section_design-wrapper--details_list-item .buttonInfo-buttons--right_redButton {
  background: #45111A;
  box-shadow: 4px 4px 0px 0px #CD1543;
}
.section_design-wrapper--details_list-item-left {
  display: flex;
  gap: 83px;
}
@media screen and (max-width: 480px) {
  .section_design-wrapper--details_list-item-left {
    flex-direction: column;
    gap: 30px;
  }
}
.section_design-wrapper--details_list-item-right {
  display: flex;
  width: 100%;
  justify-content: center;
}
.section_design-wrapper--details_list-item-right .dropdown-box_items {
  display: inline-flex;
  padding: 4px;
  flex-direction: column;
  gap: 4px;
  background: #5A1E29;
}
.section_design-wrapper--details_list-item-right .dropdown-box_items-item {
  display: flex;
  padding: 13px 12px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  text-transform: uppercase;
  font-family: Gilroy;
  letter-spacing: 0.24px;
  font-size: 12px;
  font-weight: 500;
}
.section_design-wrapper--details_list-item-right .dropdown-box_items-item:nth-child(2) {
  background: #CD1543;
}

.section_sitemap {
  padding-top: 113px;
  width: 98%;
  margin: 0 auto;
}
.section_sitemap-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.section_sitemap-wrapper--map {
  overflow-x: auto;
  width: 100%;
}
.section_sitemap-wrapper--map img {
  display: block;
  border-radius: 24px;
  background: #252525;
}
@media screen and (max-width: 768px) {
  .section_sitemap-wrapper--map img {
    width: 100%;
  }
}
.section_sitemap-wrapper--site {
  display: flex;
  padding: 40px 33px;
  gap: 194px;
  border-radius: 24px;
  background: #252525;
}
@media screen and (max-width: 768px) {
  .section_sitemap-wrapper--site {
    flex-direction: column;
    gap: 30px;
  }
}
.section_sitemap-wrapper--site_left {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.section_sitemap-wrapper--site_left-title .title {
  color: #0DB14B;
  font-size: 32px;
  text-transform: uppercase;
}
@media screen and (max-width: 480px) {
  .section_sitemap-wrapper--site_left-title .title {
    font-size: 25px;
  }
}
.section_sitemap-wrapper--site_left-text_info {
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  .section_sitemap-wrapper--site_left-text_info {
    font-size: 14px;
  }
}
.section_sitemap-wrapper--site_right {
  display: flex;
  align-items: flex-end;
}
@media screen and (max-width: 480px) {
  .section_sitemap-wrapper--site_right {
    font-size: 14px;
  }
}

.section_desktop {
  padding-top: 111px;
  max-width: calc(1440px - 2%);
  margin: 0 auto;
  width: 100%;
}
.section_desktop-wrapper--title {
  padding-bottom: 99px;
  padding: 0px 50px;
}
.section_desktop-wrapper--title .title {
  font-size: 48px;
  line-height: 110%;
}
.section_desktop-wrapper--line {
  padding: 30px 50px;
}
.section_desktop-wrapper--line svg {
  width: 100%;
}
.section_desktop-wrapper--content_top {
  display: flex;
  gap: 123px;
  padding: 0px 50px;
}
@media screen and (max-width: 768px) {
  .section_desktop-wrapper--content_top {
    flex-direction: column;
    gap: 20px;
  }
}
.section_desktop-wrapper--content_top .title {
  font-size: 20px;
}
.section_desktop-wrapper--content_top-text {
  width: 54%;
}
@media screen and (max-width: 1024px) {
  .section_desktop-wrapper--content_top-text {
    width: 100%;
  }
}
.section_desktop-wrapper--content_top-text .subtitle {
  font-size: 20px;
  line-height: 130%;
}
@media screen and (max-width: 768px) {
  .section_desktop-wrapper--content_top-text .subtitle {
    font-size: 18px;
    margin-bottom: 50px;
  }
}
.section_desktop-wrapper--content_bottom {
  display: flex;
  align-items: center;
  width: 90%;
  justify-content: space-between;
}
@media screen and (max-width: 480px) {
  .section_desktop-wrapper--content_bottom {
    margin: 0 auto;
    padding: 0px 50px;
  }
}
.section_desktop-wrapper--content_bottom-image {
  width: 100%;
  position: relative;
}
.section_desktop-wrapper--content_bottom-image img {
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .section_desktop-wrapper--content_bottom-image {
    width: 60%;
  }
}
@media screen and (max-width: 480px) {
  .section_desktop-wrapper--content_bottom-image {
    display: none;
  }
}
.section_desktop-wrapper--content_bottom-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 50%);
  pointer-events: none;
  z-index: 1;
}
.section_desktop-wrapper--content_bottom-text {
  width: 35%;
}
.section_desktop-wrapper--content_bottom-text .subtitle {
  font-size: 20px;
  line-height: 130%;
}
.section_desktop-wrapper--content_bottom-text .subtitle span {
  color: #CD1543;
}
@media screen and (max-width: 1024px) {
  .section_desktop-wrapper--content_bottom-text {
    width: 40%;
  }
}
@media screen and (max-width: 480px) {
  .section_desktop-wrapper--content_bottom-text {
    width: 100%;
  }
}
.section_desktop-wrapper--content_images {
  display: flex;
  flex-wrap: wrap;
  gap: 9px;
  padding: 0 108px 0 118px;
}
@media screen and (max-width: 1024px) {
  .section_desktop-wrapper--content_images {
    padding-top: 50px;
  }
}
@media screen and (max-width: 480px) {
  .section_desktop-wrapper--content_images {
    flex-direction: column;
    padding: 50px 50px;
  }
}
.section_desktop-wrapper--content_images-image {
  flex: 1 1 calc(33.3333% - 6px);
  margin-bottom: 8px;
}
.section_desktop-wrapper--content_images-image:nth-child(3n) {
  margin-bottom: 0;
}
.section_desktop-wrapper--content_images-image.double {
  display: flex;
  flex-direction: column;
  gap: 17px;
}
.section_desktop-wrapper--content_images-image img {
  width: 100%;
  height: auto;
  display: block;
}

.section_mobile {
  padding-top: 107px;
  max-width: calc(1440px - 2%);
  width: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 480px) {
  .section_mobile {
    padding-top: 50px;
  }
}
.section_mobile-wrapper {
  position: relative;
}
.section_mobile-wrapper--title {
  padding: 0px 50px;
  margin-bottom: 109px;
}
@media screen and (max-width: 480px) {
  .section_mobile-wrapper--title {
    margin-bottom: 0px;
  }
}
.section_mobile-wrapper--title .title {
  font-size: 48px;
  line-height: 110%;
}
.section_mobile-wrapper--line {
  padding: 30px 50px;
}
.section_mobile-wrapper--line svg {
  width: 100%;
}
.section_mobile-wrapper--content {
  display: flex;
  gap: 123px;
  padding: 0px 50px;
  height: 1450px;
  margin-bottom: -110px;
}
@media screen and (max-width: 480px) {
  .section_mobile-wrapper--content {
    flex-direction: column;
    gap: 25px;
  }
}
.section_mobile-wrapper--content-title {
  width: 10%;
}
@media screen and (max-width: 1024px) {
  .section_mobile-wrapper--content-title {
    width: 20%;
  }
}
.section_mobile-wrapper--content-title .title {
  font-size: 20px;
}
@media screen and (max-width: 1024px) {
  .section_mobile-wrapper--content {
    height: auto;
    margin-bottom: 0px;
  }
}
.section_mobile-wrapper--content-svg {
  position: absolute;
  top: 5%;
  right: 0;
  height: 100%;
}
@media screen and (max-width: 1024px) {
  .section_mobile-wrapper--content-svg {
    display: none;
  }
}
.section_mobile-wrapper--content-svg img {
  height: 100%;
}
.section_mobile-wrapper--content-text {
  width: 52%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 1024px) {
  .section_mobile-wrapper--content-text {
    width: 100%;
    gap: 50px;
  }
}
.section_mobile-wrapper--content-text .subtitle {
  font-size: 20px;
  line-height: 130%;
}
@media screen and (max-width: 480px) {
  .section_mobile-wrapper--content-text .subtitle {
    font-size: 15px;
  }
}
.section_mobile-wrapper--content-text_bottom {
  width: 55%;
  margin: auto 0;
}
@media screen and (max-width: 1024px) {
  .section_mobile-wrapper--content-text_bottom {
    width: 100%;
  }
}

.section_last {
  width: 100%;
  padding-top: 155px;
  max-width: 1440px;
  margin: 0 auto;
}
@media screen and (max-width: 480px) {
  .section_last {
    padding-top: 50px;
  }
}
.section_last-wrapper {
  width: 75%;
  margin: 0 auto;
}
@media screen and (max-width: 480px) {
  .section_last-wrapper {
    width: 90%;
  }
}
.section_last-wrapper--content {
  display: flex;
}
@media screen and (max-width: 1024px) {
  .section_last-wrapper--content {
    flex-direction: column;
    align-items: center;
  }
}
.section_last-wrapper--content_text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
@media screen and (max-width: 1024px) {
  .section_last-wrapper--content_text {
    gap: 25px;
    align-items: center;
  }
}
.section_last-wrapper--content_text .subtitle {
  width: 80%;
  font-size: 20px;
}
@media screen and (max-width: 480px) {
  .section_last-wrapper--content_text .subtitle {
    text-align: center;
    font-size: 15px;
  }
}
.section_last-wrapper--content_text .title {
  font-size: 36px;
  color: #414141;
  line-height: 110%;
  width: 70%;
}
@media screen and (max-width: 480px) {
  .section_last-wrapper--content_text .title {
    width: 100%;
    text-align: center;
    font-size: 25px;
  }
}
.section_last-wrapper--content_text .title span {
  color: #FFF;
}
.section_last-wrapper--content_image {
  display: flex;
  justify-content: center;
}
.section_last-wrapper--content_image img {
  width: 50%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html body {
  cursor: default;
  background-color: #050505;
  color: #fff;
  overflow-x: hidden;
}

.rocGrotesk-300 {
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-decoration: none;
}

.rocGrotesk-400 {
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.rocGrotesk-500 {
  font-feature-settings: "liga" off, "clig" off;
  font-family: "Roc Grotesk" sans-serif;
  font-style: normal;
  font-weight: 500;
}

.rocGrotesk-700 {
  font-feature-settings: "liga" off, "clig" off;
  font-family: "Roc Grotesk" sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.rocGrotesk-800 {
  color: #28282a;
  text-align: center;
  font-size: 96px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
}

.unbounded-300 {
  font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.unbounded-400 {
  font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.unbounded-500 {
  font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.unbounded-600 {
  font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.unbounded-700 {
  font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

html body .container {
  width: 95%;
  max-width: 1440px;
  display: block;
  margin: 0 auto;
}

html body a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

html body ul {
  list-style: none;
}

.section {
  width: 98%;
  max-width: calc(1440px - 2%);
  height: auto;
  margin: 0 auto;
}

.page {
  display: flex;
  flex-direction: column;
}

.section-title .title {
  font-size: 48px;
  line-height: 110%;
}
@media screen and (max-width: 480px) {
  .section-title .title {
    font-size: 30px;
  }
}

@media screen and (max-width: 480px) {
  .section_design-wrapper--system-content_list-item .title,
  .section_design-wrapper--typography_list-item .title,
  .section_design-wrapper--details_list-item .title,
  .section_desktop-wrapper--content_top-title .title,
  .section_mobile-wrapper--content-title .title {
    font-size: 18px;
    font-weight: 700;
  }
}
@media screen and (max-width: 480px) {
  .section_design-wrapper--system-content_list-item .desc, .section_design-wrapper--system-content_list-item .subtitle,
  .section_design-wrapper--typography_list-item .desc,
  .section_design-wrapper--typography_list-item .subtitle,
  .section_design-wrapper--details_list-item .desc,
  .section_design-wrapper--details_list-item .subtitle,
  .section_desktop-wrapper--content_top-title .desc,
  .section_desktop-wrapper--content_top-title .subtitle,
  .section_mobile-wrapper--content-title .desc,
  .section_mobile-wrapper--content-title .subtitle {
    font-size: 15px;
  }
}

/*# sourceMappingURL=styles.module.css.map */
