.section_challenges {
    padding-top: 127px;

    &-wrapper {
        display: flex;
        flex-direction: column;
        gap: 10px;

        &-images {
            display: flex;
            align-items: center;
            gap: 16px;

            &_content {
                background: #252525;
                border-radius: 24px;


                // &:nth-of-type(1) {
                //     background: radial-gradient(circle,
                //             rgba(37, 56, 118, 0.8) 0%,
                //             rgba(37, 56, 118, 0.6) 30%,
                //             rgba(37, 37, 37, 0.8) 70%,
                //             rgba(37, 37, 37, 0.8) 100%);
                // }

                &:nth-of-type(2) {
                    // background: radial-gradient(circle,
                    //         rgba(205, 21, 67, 0.6) 0%,
                    //         rgba(205, 21, 67, 0.5) 30%,
                    //         rgba(37, 37, 37, 0.8) 70%,
                    //         rgba(37, 37, 37, 0.8) 100%);
                    position: relative;
                }


                &-text {
                    position: absolute;
                    bottom: 5%;
                    left: 10%;
                    width: 70%;

                    .title {
                        font-size: 30px;
                        font-feature-settings: 'liga' off, 'clig' off;
                        line-height: 120%;
                    }
                }


                img {
                    width: 100%;
                    height: auto;
                }

            }
        }

        &-cards {
            display: flex;
            align-items: center;
            gap: 16px;

            &_card {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 30px;
                padding: 48px 34px;
                height: 216px;
                border-radius: 24px;
                background: #252525;

                .subtitle {
                    text-align: center;
                }

                &:nth-of-type(1) {
                    gap: 18px;
                    padding: 48px 33px;

                    .title {
                        color: #0DB14B;
                        font-size: 32px;
                        line-height: 110%;
                        text-transform: uppercase;
                    }

                    .subtitle {
                        text-align: start;
                    }
                }
            }
        }
    }
}