@keyframes blink {

    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}

.section_design {
    padding-top: 118px;

    &-wrapper {
        padding: 0px 50px;

        &--system {
            &-title {
                padding: 10px 0px;
                margin-bottom: 59px;
            }

            &-line {
                margin-top: 30px;
                margin-bottom: 30px;
            }

            &-content {
                &_list {
                    &-item {
                        display: flex;
                        gap: 117px;
                        min-height: 390px;

                        .title {
                            font-size: 20px;
                            font-feature-settings: 'liga' off, 'clig' off;
                            line-height: 110%;
                        }

                        .desc {
                            font-size: 20px;
                        }

                        .item-svg {
                            margin-right: 50px;

                            svg path {
                                opacity: 0;
                                animation: blink 8s infinite both;
                            }

                            svg path:nth-child(1) {
                                animation-delay: 0s;
                            }

                            svg path:nth-child(2) {
                                animation-delay: 0.5s;
                            }

                            svg path:nth-child(3) {
                                animation-delay: 1s;
                            }

                            svg path:nth-child(4) {
                                animation-delay: 1.5s;
                            }
                        }
                    }
                }
            }
        }

        &--typography {
            display: flex;
            flex-direction: column;
            gap: 58px;

            &_list {
                &-item {
                    display: flex;
                    gap: 66px;

                    .title,
                    .desc {
                        font-size: 20px;
                    }

                    .desc {
                        line-height: 130%;
                    }
                }
            }

            &_cards {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 16px;

                .card {
                    background: #252525;
                    border-radius: 24px;
                    display: flex;
                    justify-content: center;

                    &.top {
                        flex-direction: column;
                        padding: 20px;
                    }

                    &.bottom {
                        display: flex;
                        justify-content: space-between;

                        .bottom-left,
                        .bottom-right {
                            padding: 30px;
                            flex: 1;
                            display: flex;
                            flex-direction: column;
                            gap: 20px;
                        }
                    }

                    .title-left,
                    .title-right {
                        font-size: 340px;
                        line-height: 90%;
                    }

                    .subtitle-left,
                    .subtitle-right {
                        color: #BBB;
                        font-size: 64px;
                        line-height: 90%;
                        font-weight: 400;
                    }

                    .title-left,
                    .subtitle-left {
                        font-family: "Cormorant Garamond";
                    }

                    .title-left {
                        color: #FFCE34;
                        font-family: "Cormorant Garamond";
                    }

                    .title-right {
                        color: #0DB14B;
                    }

                    .title,
                    .subtitle,
                    .subtitle-main,
                    .desc {
                        font-size: 20px;
                        line-height: 110%;
                    }

                    .subtitle-main {
                        font-feature-settings: 'liga' off, 'clig' off;
                        font-family: "Cormorant Garamond";
                        font-size: 44px;
                    }

                    .desc {
                        font-feature-settings: 'liga' off, 'clig' off;
                        font-family: Gilroy;
                        font-size: 14px;
                        width: 80%;
                    }
                }
            }
        }

        &--details {
            padding-top: 105px;

            &_list {
                display: flex;
                flex-direction: column;
                gap: 115px;

                &-item {
                    display: flex;

                    &:nth-child(1) {
                        gap: 130px;
                    }

                    &:nth-child(2) {
                        gap: 111px;
                    }

                    .desc {
                        padding-bottom: 50px;
                        font-size: 20px;
                    }

                    .title {
                        font-size: 20px;
                    }

                    .color {
                        display: flex;
                        flex-direction: column;

                        &-buttons {
                            display: flex;
                            gap: 31px;
                            justify-content: space-between;

                            &--button {
                                display: flex;
                                padding: 9px 20px;
                                width: 100%;
                                justify-content: center;
                                align-items: center;
                                gap: 10px;
                                border-radius: 6px;
                                font-size: 16px;
                                line-height: 110%;
                                border: none;

                                &:nth-child(1) {
                                    background: #F8F8F8;
                                    color: #050505;
                                }

                                &:nth-child(2) {
                                    background: #CD1543;
                                }

                                &:nth-child(3) {
                                    background: #162041;
                                }
                            }
                        }
                    }

                    .buttonInfo {
                        &-buttons {
                            display: flex;
                            gap: 54px;

                            &--left,
                            &--right {
                                display: flex;
                                gap: 29px;

                                button {
                                    display: flex;
                                    width: 152px;
                                    padding: 13px 16px;
                                    justify-content: center;
                                    align-items: center;
                                    gap: 10px;
                                    flex-shrink: 0;
                                    border: none;
                                    font-size: 14px;
                                    text-transform: uppercase;
                                }

                                &_redButton {
                                    color: #FFF;
                                }

                                &_state {
                                    color: #414141;
                                    background: transparent;
                                }
                            }

                            &--left {
                                &_redButton {
                                    background: #CD1543;
                                }
                            }

                            &--right {
                                &_redButton {
                                    background: #45111A;
                                    box-shadow: 4px 4px 0px 0px #CD1543;
                                }
                            }

                        }
                    }

                    &-left {
                        display: flex;
                        gap: 83px;
                    }

                    &-right {
                        display: flex;
                        width: 100%;
                        justify-content: center;

                        .dropdown-box_items {
                            display: inline-flex;
                            padding: 4px;
                            flex-direction: column;
                            gap: 4px;
                            background: #5A1E29;

                            &-item {
                                display: flex;
                                padding: 13px 12px;
                                align-items: flex-start;
                                gap: 10px;
                                align-self: stretch;
                                text-transform: uppercase;
                                font-family: Gilroy;
                                letter-spacing: 0.24px;
                                font-size: 12px;
                                font-weight: 500;

                                &:nth-child(2) {
                                    background: #CD1543;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}