.section_desktop {
    padding-top: 111px;
    max-width: calc(1440px - 2%);
    margin: 0 auto;
    width: 100%;

    @media screen and (max-width:768px) {
        padding-top: 50px;
    }

    @media screen and (max-width:480px) {
        padding-top: 20px;
    }

    &-wrapper {
        &--title {
            padding-bottom: 99px;
            padding: 0px 50px;

            .title {
                font-size: 48px;
                line-height: 110%;

                @media screen and (max-width:480px) {
                    font-size: 25px;
                }
            }
        }

        &--line {
            padding: 30px 50px;

            @media screen and (max-width:768px) {
                padding: 15px 50px;
            }

            svg {
                width: 100%;
            }
        }

        &--content {
            &_top {
                display: flex;
                gap: 123px;
                padding: 0px 50px;

                @media screen and (max-width:768px) {
                    flex-direction: column;
                    gap: 20px;
                }

                .title {
                    font-size: 20px;
                }

                &-text {
                    width: 54%;

                    @media screen and (max-width:1024px) {
                        width: 100%;
                    }

                    .subtitle {
                        font-size: 20px;
                        line-height: 130%;

                        @media screen and (max-width:768px) {
                            font-size: 18px;
                            margin-bottom: 50px;
                        }

                        @media screen and (max-width:480px) {
                            font-size: 14px;
                            margin-bottom: 30px;
                        }
                    }
                }
            }

            &_bottom {
                display: flex;
                align-items: center;
                width: 90%;
                justify-content: space-between;

                @media screen and (max-width:480px) {
                    margin: 0 auto;
                    padding: 0px 25px;
                }

                &-image {
                    width: 100%;
                    position: relative;

                    img {
                        width: 100%;
                    }

                    @media screen and (max-width:1024px) {
                        width: 60%;
                    }

                    @media screen and (max-width:480px) {
                        display: none;
                    }

                    &::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 100%;
                        background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 50%);
                        pointer-events: none;
                        z-index: 1;
                    }
                }

                &-text {
                    width: 35%;

                    .subtitle {
                        font-size: 20px;
                        line-height: 130%;

                        @media screen and (max-width:768px) {
                            font-size: 18px;
                        }

                        @media screen and (max-width:480px) {
                            font-size: 14px;
                        }

                        span {
                            color: #CD1543;
                        }
                    }

                    @media screen and (max-width:1024px) {
                        width: 40%;
                    }

                    @media screen and (max-width:480px) {
                        width: 100%;
                    }
                }
            }

            &_images {
                display: flex;
                flex-wrap: wrap;
                gap: 9px;
                padding: 0 108px 0 118px;

                @media screen and (max-width:1024px) {
                    padding-top: 50px;
                    ;
                }

                @media screen and (max-width:768px) {
                    display: none;
                }

                &-image {
                    flex: 1 1 calc(33.3333% - 6px);
                    margin-bottom: 8px;


                    &:nth-child(3n) {
                        margin-bottom: 0;
                    }

                    &.double {
                        display: flex;
                        flex-direction: column;
                        gap: 17px;
                    }

                    img {
                        width: 100%;
                        height: auto;
                        display: block;
                    }
                }
            }

            .swiper{
                display: none;

                @media screen and (max-width:768px) {
                    display: flex;
                }
            }
        }
    }
}