@keyframes blink {

  0%,
  50%,
  100% {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

.homepage {
  padding-top: 112px;
  width: 100%;

  .section_hero {
    &-wrapper {
      &--content {
        text-align: center;
        width: 65%;
        margin: 0 auto;
        margin-bottom: 24px;

        &_headline {
          display: flex;
          flex-direction: column;
          gap: 24px;
          align-items: center;

          a {
            display: flex;
            padding: 10px 24px;
            justify-content: center;
            align-items: center;
            border-radius: 38px;
            background: #0DB14B;
            white-space: nowrap;
            text-transform: uppercase;

            p {
              font-size: 14px;

              @media screen and (max-width:480px) {
                font-size: 10px;
              }
            }
          }
        }

        .title {
          font-size: 72px;
          text-transform: uppercase;

          @media screen and (max-width:1280px) {
            font-size: 68px;
          }

          @media screen and (max-width:1024px) {
            font-size: 64px;
          }

          @media screen and (max-width:768px) {
            font-size: 60px;
          }

          @media screen and (max-width:480px) {
            font-size: 45px;
          }
        }

        .subtitle {
          font-size: 20px;

          @media screen and (max-width:768px) {
            font-size: 18px;
          }

          @media screen and (max-width:768px) {
            font-size: 14px;
          }
        }
      }

      &--image {
        width: 100%;
        height: 100%;
        position: relative;
        border-radius: 50px;
        margin-bottom: 10px;

        img {
          width: 100%;
        }

        &_svg1,
        &_svg2 {
          position: absolute;

          @media screen and (max-width:768px) {
            display: none;
          }
        }

        &_svg1 {
          top: 10%;
          right: 10%;
        }

        &_svg2 {
          bottom: 5%;
          left: 20%;
        }

        svg path {
          opacity: 0;
          -webkit-animation: blink 8s infinite both;
          animation: blink 8s infinite both;
        }

        &_svg1 path:nth-child(1) {
          animation-delay: 0s;
        }

        &_svg1 path:nth-child(2) {
          animation-delay: 0.5s;
        }

        &_svg1 path:nth-child(3) {
          animation-delay: 1s;
        }

        &_svg1 path:nth-child(4) {
          animation-delay: 1.5s;
        }

        &_svg2 path:nth-child(1) {
          animation-delay: 0s;
        }

        &_svg2 path:nth-child(2) {
          animation-delay: 0.5s;
        }
      }

      &--client {
        display: flex;
        border-radius: 24px;
        background: #252525;
        padding: 40px 33px;

        @media screen and (max-width:768px) {
          flex-direction: column;
          gap: 50px;
        }

        &-about {
          @media screen and (max-width:768px) {
            align-items: center;
            display: flex;
            gap: 40px;
          }

          @media screen and (max-width:480px) {
            flex-direction: column;
            align-items: start;
            gap: 0px;
          }

          ;

          .title {
            color: #0db14b;
            font-size: 32px;
            text-transform: uppercase;
            margin-bottom: 28px;

            @media screen and (max-width:480px) {
              font-size: 28px;
            }
          }

          .subtitle {
            font-size: 16px;
            line-height: 20.8px;
            width: 65%;

            @media screen and (max-width:480px) {
              width: 100%;
              font-size: 14px;
            }
          }
        }

        &-statics {
          display: flex;
          gap: 78px;

          @media screen and (max-width:768px) {
            justify-content: space-around;
          }

          @media screen and (max-width:480px) {
            gap: 30px;
          }

          &_left,
          &_right {
            display: flex;
            flex-direction: column;
            gap: 25px;

            @media screen and (max-width:480px) {
              gap: 10px;
            }

            .title {
              color: #ffce34;
              font-variant-numeric: lining-nums proportional-nums;
              font-feature-settings: "liga" off, "clig" off;
              font-size: 64px;
              line-height: 50px;

              @media screen and (max-width:480px) {
                font-size: 50px;
              }
            }

            .subtitle {
              font-feature-settings: "liga" off, "clig" off;
              font-size: 14px;
              line-height: 150%;
            }
          }

          &_left {
            align-items: center;
            width: 189px;

            @media screen and (max-width:480px) {
              align-items: start;
            }

            .subtitle {
              text-align: right;
            }
          }

          &_right {
            max-width: 148px;
            width: 100%;
            text-align: center;

            .subtitle {
              text-align: center;
            }
          }
        }
      }
    }
  }
}