.section_lorem {
    padding-top: 90px;
    max-width: 1440px;
    margin: 0 auto;

    &-wrapper {
        padding: 0px 50px;

        @media screen and (max-width:768px) {
            padding: 0px 20px;
        }

        &--title {
            padding: 10px 0px;
            margin-bottom: 59px;

            &_text {
                width: 416px;
            }
        }

        &--line {
            margin-top: 39px;
            margin-bottom: 39px;

            svg {
                width: 100%;
            }
        }

        &--content {
            .text-card {
                display: flex;
                gap: 84px;
                font-size: 20px;
                padding-bottom: 50px;

                @media screen and (max-width: 768px) {
                    font-size: 18px;
                }

                &--desc {
                    font-feature-settings: 'liga' off, 'clig' off;
                    line-height: 130%;

                    span {
                        color: #FFCE34;
                    }
                }
            }

            .section_lorem-wrapper--content_list-item:first-child .text-card {
                gap: 135px;
            }
        }
    }
}