.section_mobile {
    padding-top: 107px;
    width: 100%;

    @media screen and (max-width:768px) {
        padding-top: 50px;
    }

    @media screen and (max-width:480px) {
        padding-top: 20px;
    }

    &-wrapper {
        position: relative;

        &--title {
            padding: 0px 50px;
            margin-bottom: 109px;

            @media screen and (max-width:768px) {
                margin-bottom: 0px;
            }

            .title {
                font-size: 48px;
                line-height: 110%;
            }
        }

        &--line {
            padding: 30px 50px;

            @media screen and (max-width:768px) {
                padding: 15px 50px;
            }

            svg {
                width: 100%;
            }
        }

        &--content {
            display: flex;
            gap: 123px;
            padding: 0px 50px;
            height: 1450px;
            transform: translateY(90px);

            @media screen and (max-width:480px) {
                flex-direction: column;
                gap: 25px;
            }

            &-title {
                width: 10%;

                @media screen and (max-width:1024px) {
                    width: 20%;
                }

                .title {
                    font-size: 20px;

                    @media screen and (max-width: 1024px) {
                        font-size: 16px;
                    }

                    @media screen and (max-width: 768px) {
                        font-size: 15px;
                    }
                }
            }

            @media screen and (max-width:1024px) {
                height: auto;
                transform: none;
            }

            &-svg {
                position: absolute;
                top: 5%;
                right: 0;
                height: 100%;

                @media screen and (max-width: 1024px) {
                    display: none;
                }

                img {
                    height: 100%;
                }
            }

            &-text {
                width: 52%;
                display: flex;
                flex-direction: column;
                justify-content: center;

                @media screen and (max-width:1024px) {
                    width: 100%;
                    gap: 50px;
                }

                .subtitle {
                    font-size: 20px;
                    line-height: 130%;

                    @media screen and (max-width: 1024px) {
                        font-size: 16px;
                    }

                    @media screen and (max-width: 768px) {
                        font-size: 15px;
                    }

                    @media screen and (max-width:480px) {
                        font-size: 14px;
                    }
                }

                &_bottom {
                    width: 55%;
                    margin: auto 0;

                    @media screen and (max-width:1024px) {
                        width: 100%;
                    }
                }
            }
        }
    }
}