.section_mobile {
    padding-top: 107px;
    max-width: calc(1440px - 2%);
    width: 100%;
    margin: 0 auto;

    &-wrapper {
        position: relative;

        &--title {
            padding: 0px 50px;
            margin-bottom: 109px;

            .title {
                font-size: 48px;
                line-height: 110%;
            }
        }

        &--line {
            padding: 30px 50px;

            svg {
                width: 100%;
            }
        }

        &--content {
            display: flex;
            gap: 123px;
            padding: 0px 50px;
            min-height: 1450px;
            margin-bottom: -110px;

            &-svg {
                position: absolute;
                top: 5%;
                right: 0;
                height: 100%;

                img {
                    height: 100%;
                }
            }

            &-text {
                width: 716px;
                display: flex;
                flex-direction: column;
                justify-content: center;

                .subtitle {
                    font-size: 20px;
                    line-height: 130%;
                }

                &_bottom {
                    width: 386px;
                    margin: auto 0;
                }
            }
        }
    }
}