.section_overview {
    padding-top: 90px;
    margin: 0 auto;

    @media screen and (max-width:768px) {
        padding-top: 50px;
    }

    @media screen and (max-width:480px) {
        padding-top: 20px;
    }

    &-wrapper {
        padding: 0px 50px;

        @media screen and (max-width:768px) {
            padding: 0px 20px;
        }

        &--title {
            padding: 10px 0px;
            margin-bottom: 59px;


            @media screen and (max-width:480px) {
                margin-bottom: 0px
            }

            &_text {
                width: 416px;

                @media screen and (max-width:480px) {
                    width: 100%;
                }
            }
        }

        &--line {
            margin: 39px 0;

            @media screen and (max-width:768px) {
                margin: 15px 0px;
            }

            svg {
                width: 100%;
            }
        }

        &--content {
            .text-card {
                display: flex;
                gap: 84px;
                font-size: 20px;
                padding-bottom: 50px;

                @media screen and (max-width:1024px) {
                    font-size: 16px;
                }

                @media screen and (max-width:768px) {
                    font-size: 15px;
                }

                @media screen and (max-width:480px) {
                    gap: 25px;
                    flex-direction: column;
                }

                &--desc {
                    font-feature-settings: 'liga' off, 'clig' off;
                    line-height: 130%;

                    @media screen and (max-width:480px) {
                        font-size: 15px;
                    }

                    span {
                        color: #FFCE34;
                    }
                }
            }

            .section_overview-wrapper--content_list-item:first-child .text-card {
                gap: 135px;

                @media screen and (max-width:1024px) {
                    gap: 125px;
                }

                @media screen and (max-width:768px) {
                    gap: 120px;
                }

                @media screen and (max-width:480px) {
                    gap: 25px;
                }

                &--desc {
                    @media screen and (max-width:480px) {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}