.section_sitemap {
    padding-top: 113px;
    width: 98%;
    margin: 0 auto;

    &-wrapper {
        display: flex;
        flex-direction: column;
        gap: 16px;

        &--map {
            overflow-x: auto;
            width: 100%;

            img {
                display: block;
                border-radius: 24px;
                background: #252525;

                @media screen and (max-width:768px) {
                    width: 100%;
                }
            }
        }

        &--site {
            display: flex;
            padding: 40px 33px;
            gap: 194px;
            border-radius: 24px;
            background: #252525;

            @media screen and (max-width:768px) {
                flex-direction: column;
                gap: 30px;
            }

            &_left {
                display: flex;
                flex-direction: column;
                gap: 28px;

                &-title {
                    .title {
                        color: #0DB14B;
                        font-size: 32px;
                        text-transform: uppercase;

                        @media screen and (max-width:480px) {
                            font-size: 25px;
                        }
                    }
                }

                &-text {
                    &_info {
                        font-size: 16px;

                        @media screen and (max-width:768px) {
                            font-size: 14px;
                        }
                    }
                }
            }

            &_right {
                display: flex;
                align-items: flex-end;

                @media screen and (max-width:480px) {
                    font-size: 14px;
                }
            }
        }
    }
}