@import "./header.module.scss";
@import "./hero.module.scss";
@import "./lorem.module.scss";
@import "./challenges.module.scss";
@import "./design.module.scss";
@import "./sitemap.module.scss";
@import "./desktop.module.scss";
@import "./mobile.module.scss";
@import "./loremtwo.module.scss";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html body {
    cursor: default;
    background-color: #050505;
    color: #fff;
    overflow-x: hidden;
}

.unbounded-300 {
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.unbounded-400 {
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.unbounded-500 {
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.unbounded-600 {
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.unbounded-700 {
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

html body .container {
    width: 95%;
    max-width: 1440px;
    display: block;
    margin: 0 auto;
}

html body a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

html body ul {
    list-style: none;
}

.section {
    width: 98%;
    max-width: calc(1440px - 2%);
    height: auto;
    margin: 0 auto;
}

.page {
    display: flex;
    flex-direction: column;
}

.section-title {
    .title {
        font-size: 48px;
        line-height: 110%;

        @media screen and (max-width:1280px) {
            font-size: 44px;
        }

        @media screen and (max-width:1024px) {
            font-size: 40px;
        }

        @media screen and (max-width:768px) {
            font-size: 38px;
        }

        @media screen and (max-width:480px) {
            font-size: 25px;
        }
    }
}

.section_design-wrapper--system-content_list-item,
.section_design-wrapper--typography_list-item,
.section_design-wrapper--details_list-item,
.section_desktop-wrapper--content_top-title,
.section_mobile-wrapper--content-title {
    .title {
        @media screen and (max-width:480px) {
            font-size: 17px;
            font-weight: 700;
        }
    }

    .desc,
    .subtitle {
        @media screen and (max-width:480px) {
            font-size: 14px
        }
    }
}